.logo-slider{
    background-color: #E8F0FB;
    padding: 32px 0;
}
.logo-slider .owl-item .item {
    text-align: center;
  }
  .logo-slider .owl-item {
    display: flex;
    justify-content: center;
  }
  .custom-row{
    background: white;
    padding: 20px 0;
    align-items: center;
  }